In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
balance_data = pd.read_csv(
'https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data',
                           sep= ',', header= None)

In [3]:
balance_data

     0  1  2  3  4
0    B  1  1  1  1
1    R  1  1  1  2
2    R  1  1  1  3
3    R  1  1  1  4
4    R  1  1  1  5
5    R  1  1  2  1
6    R  1  1  2  2
7    R  1  1  2  3
8    R  1  1  2  4
9    R  1  1  2  5
10   R  1  1  3  1
11   R  1  1  3  2
12   R  1  1  3  3
13   R  1  1  3  4
14   R  1  1  3  5
15   R  1  1  4  1
16   R  1  1  4  2
17   R  1  1  4  3
18   R  1  1  4  4
19   R  1  1  4  5
20   R  1  1  5  1
21   R  1  1  5  2
22   R  1  1  5  3
23   R  1  1  5  4
24   R  1  1  5  5
25   L  1  2  1  1
26   B  1  2  1  2
27   R  1  2  1  3
28   R  1  2  1  4
29   R  1  2  1  5
..  .. .. .. .. ..
595  L  5  4  5  1
596  L  5  4  5  2
597  L  5  4  5  3
598  B  5  4  5  4
599  R  5  4  5  5
600  L  5  5  1  1
601  L  5  5  1  2
602  L  5  5  1  3
603  L  5  5  1  4
604  L  5  5  1  5
605  L  5  5  2  1
606  L  5  5  2  2
607  L  5  5  2  3
608  L  5  5  2  4
609  L  5  5  2  5
610  L  5  5  3  1
611  L  5  5  3  2
612  L  5  5  3  3
613  L  5  5  3  4
614  L  5  5  3  5
615  L  5  5  4  1
616  L  5  5  4  2
617  L  5  5  4  3
618  L  5  5  4  4
619  L  5  5  4  5
620  L  5  5  5  1
621  L  5  5  5  2
622  L  5  5  5  3
623  L  5  5  5  4
624  B  5  5  5  5

[625 rows x 5 columns]

In [4]:
print( "Dataset Lenght:: ", len(balance_data))
print ("Dataset Shape:: ", balance_data.shape)

Dataset Lenght::  625
Dataset Shape::  (625, 5)

In [5]:
balance_data.head()

   0  1  2  3  4
0  B  1  1  1  1
1  R  1  1  1  2
2  R  1  1  1  3
3  R  1  1  1  4
4  R  1  1  1  5

In [6]:
balance_data.tail(13)

     0  1  2  3  4
612  L  5  5  3  3
613  L  5  5  3  4
614  L  5  5  3  5
615  L  5  5  4  1
616  L  5  5  4  2
617  L  5  5  4  3
618  L  5  5  4  4
619  L  5  5  4  5
620  L  5  5  5  1
621  L  5  5  5  2
622  L  5  5  5  3
623  L  5  5  5  4
624  B  5  5  5  5

In [7]:
X = balance_data.values[:, 1:5]
Y = balance_data.values[:,0]

In [8]:
X

array([[1, 1, 1, 1],
       [1, 1, 1, 2],
       [1, 1, 1, 3],
       ...,
       [5, 5, 5, 3],
       [5, 5, 5, 4],
       [5, 5, 5, 5]], dtype=object)

In [21]:
Y.size

625

In [10]:

from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 100)

In [25]:
X_test[0,:]

array([4, 4, 3, 3], dtype=object)

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
dtree = DecisionTreeClassifier()

In [15]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [16]:
predictions = dtree.predict(X_test)

In [26]:
predictions

array(['L', 'L', 'R', 'L', 'R', 'L', 'R', 'L', 'L', 'B', 'L', 'B', 'R',
       'L', 'R', 'R', 'L', 'L', 'R', 'L', 'R', 'L', 'B', 'L', 'R', 'L',
       'L', 'L', 'R', 'L', 'L', 'L', 'R', 'L', 'B', 'L', 'B', 'B', 'B',
       'B', 'R', 'L', 'R', 'L', 'R', 'R', 'L', 'R', 'R', 'L', 'B', 'R',
       'L', 'L', 'R', 'L', 'R', 'R', 'L', 'B', 'B', 'R', 'L', 'B', 'L',
       'L', 'R', 'R', 'R', 'L', 'L', 'R', 'R', 'L', 'R', 'L', 'L', 'R',
       'R', 'L', 'R', 'B', 'R', 'L', 'L', 'R', 'R', 'L', 'R', 'L', 'R',
       'R', 'L', 'L', 'L', 'R', 'R', 'L', 'B', 'L', 'R', 'L', 'R', 'R',
       'B', 'R', 'R', 'R', 'L', 'L', 'R', 'L', 'R', 'R', 'L', 'B', 'R',
       'R', 'R', 'R', 'L', 'R', 'R', 'L', 'L', 'L', 'L', 'L', 'L', 'R',
       'R', 'R', 'R', 'L', 'R', 'L', 'R', 'L', 'R', 'R', 'L', 'B', 'L',
       'R', 'L', 'L', 'R', 'L', 'R', 'R', 'L', 'L', 'L', 'R', 'R', 'R',
       'L', 'R', 'R', 'L', 'B', 'R', 'B', 'L', 'R', 'R', 'L', 'R', 'R',
       'R', 'B', 'L', 'B', 'R', 'R', 'R', 'L', 'L', 'R', 'R', 'R', 'R',
       'R', 'L', 'L', 'R', 'R', 'R'], dtype=object)

In [17]:
from sklearn.metrics import classification_report,confusion_matrix

In [18]:
print(confusion_matrix(y_test,predictions))

[[ 0  6  7]
 [10 71  4]
 [11  2 77]]

In [19]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          B       0.00      0.00      0.00        13
          L       0.90      0.84      0.87        85
          R       0.88      0.86      0.87        90

avg / total       0.83      0.79      0.81       188